section {
    background: url(fashion.jpg);
    /*background-size: cover;*/
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    position: relative;
    max-width: 900px;
    font-size: 9em;
    line-height: 0.6em;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: #fff;
    mix-blend-mode: screen;
}

section h1 span {
    font-size: 0.5em;
}